@{
    ViewData["Title"] = "ViewOrder";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="/Home">Home</a>
                <a class="breadcrumb-item text-dark" href="/Account/MyAccount">My Account</a>
                <span class="breadcrumb-item active">Account's Order</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Contact Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">
            My
            Account
        </span>
    </h2>
    <div class="row px-xl-5">
        <div class="col-lg-4 mb-5">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                    <img style="border-radius: 50%;" alt=""
                         src="https://secure.gravatar.com/avatar/9e0afa26bc1077afbf9bebfbbb0a9b41?s=70&amp;d=mm&amp;r=g"
                         srcset="https://secure.gravatar.com/avatar/9e0afa26bc1077afbf9bebfbbb0a9b41?s=140&amp;d=mm&amp;r=g 2x"
                         height="70" width="70" decoding="async">
                    <p style="font-size: 20px;">Personal Account</p>

                    <div style="margin-bottom: 5px;">
                        <a class="form-control_1" href="/Account/MyAccount" style="text-decoration: none;">
                            <i class="fa fa-user-circle " style="color: black; margin-right: 10px;"></i>Account
                            information
                        </a>

                    </div>

                    <div style="margin-bottom: 5px;">
                        <a class="form-control_1" href="/Account/ChangePassword" style="text-decoration: none;">
                            <i class="fa fa-key" style="color: black; margin-right: 10px;"></i>Change Password
                        </a>

                    </div>

                    <div class="control-group" style="margin-bottom: 5px;">
                        <a class="form-control_1" style="background-color: #ffcb0d" href="/Account/ViewOrder" style="text-decoration: none;">
                            <i class="fa fa-gift" style="color: black; margin-right: 10px;"></i>Your Order
                        </a>

                    </div>
                    <div class="control-group" style="margin-bottom: 5px;">
                        <a class="form-control_1" href="/Account/MyAddress" style="text-decoration: none;">
                            <i class="fa fa-home" style="color: black; margin-right: 10px;"></i>Address
                        </a>

                    </div>
                    <div class="control-group" style="margin-bottom: 5px;">
                        <a class="form-control_1" href="/Account/LogOut" style="text-decoration: none;">
                            <i class="fa fa-sign-out-alt" style="color: black; margin-right: 10px;"></i>Log Out
                        </a>
                    </div>


                </form>
            </div>
        </div>

        <div class="col-lg-8 mb-5 bg-light p-30 mb-3" style="height: 100%;">

            <table class="table table-light table-borderless table-hover text-center mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Order date</th>
                        <th>Delivery date</th>
                        <th>Status</th>
                        <th>Total</th>
                        <th>See details</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    @if (ViewBag.ListOrder.Count > 0)
                    {
                        @foreach (var item in ViewBag.ListOrder)
                        {
                            <tr>
                                <td class="align-middle">@item.orderId</td>
                                <td class="align-middle">@item.startDay</td>
                                <td class="align-middle">@item.endDay</td>
                                <td class="align-middle">@item.status</td>
                                <td class="align-middle">$@item.totalPrice</td>
                                <td class="align-middle">
                                    <button data-orderId="@item.orderId" onclick="openForm(this)" class="fa fa-eye"
                                            style="background-color:transparent; border: none;"></button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>

            </table>

        </div>

    </div>
</div>
    </div>
<!-- Contact End -->
<!--View Details Start-->
<div class="user">
    <section class="h-100" id="myForm">
        <div class="card">
            <div class="row">
                <h2 class="title" style="font-size: 200%;">Purchase Reciept</h2>
                <div class="col-5 pull-right">
                    <button type="button" style="float: right; background-color: red;" class="button-5 "
                            onclick="closeForm() ">
                        X
                    </button>
                </div>
            </div>
            <div class="info">

                <div class="row">
                    <div class="col-7">
                        <span id="heading">Date</span><br>
                        <span id="details">10 October 2018</span>
                    </div>
                    <div class="col-5 pull-right">
                        <span id="heading">Full name</span><br>
                        <span id="details">Nguyen Huu Duy</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <span id="heading">Phone Number</span><br>
                        <span id="details">0907124350</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <span id="heading">Address</span><br>
                        <span id="details">Ninh Kieu, Can Tho, 11 Tran Bach Dang</span>
                    </div>
                </div>


            </div>
            <h2 class="title" style="font-size: 150%; text-align: center;">Order Summary</h2>
            <div class="pricing">
                <div class="scroll" id="listOrderDetail">
                    
                </div>
            </div>
            <hr>

            <div class="total">
                <div class="row">
                    <h2 class="col-9"> Total Price</h2>
                    <div class="col-3"><big>&pound;262.99</big></div>
                </div>
            </div>
            <div class="progress-track">
                <ul id="progressbar">
                    <li class="step0 active " id="step1">Ordered</li>
                    <li class="step0 active text-center" id="step2">Shipped</li>
                    <li class="step0 active text-right" id="step3">On the way</li>
                    <li class="step0  active text-right" id="step4">Delivered</li>
                </ul>
            </div>

        </div>
    </section>
</div>


<!--View Details End-->
