@using Newtonsoft.Json;
@using SWP391_Group3_FinalProject.Models;

@{
    ViewData["Title"] = "ProductPage";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";

    string Manager = Context.Session.GetString("Session");
    Manager manager = new Manager();
    if (Manager != null)
    {
        manager = JsonConvert.DeserializeObject<Manager>(Manager);
    }
    string? Message = null;
    var MessageTo = Context.Session.GetString("Message");
    if (MessageTo != null)
    {
        Message = JsonConvert.DeserializeObject<String>(MessageTo);
        Context.Session.Remove("Message");
    }
   
}

<div class="body-wrapper">
    <div class="container">
        <div class="container">
            <h1 class="Header">PRODUCTS MANAGEMENT</h1>
            <div class="tabs">
                <div class="tabby-tab">
                    <input type="radio" id="tab-1" name="tabby-tabs" checked>
                    <label for="tab-1" class="tabby-tablabel">PRODUCTS</label>
                    <div class="tabby-content">
                        <div class="col-12" style="text-align: center;">
                            <h1 class="Title">PRODUCT IN STOCKS</h1>
                            @if(manager.isAdmin == true)
                            {
                                <button type="button" id="contactAddProduct" class="btn btn-outline-primary m-1">
                                    <i class="fa-solid fa-plus"></i> Add Product
                                </button>
                            }
                            
                            <button type="button" id="contact" class="btn btn-outline-primary m-1">Categories</button>

                            <button type="button" id="contact2" class="btn btn-outline-primary m-1">Brands</button>
                        </div>
                       @if(Message != null && Message != ""){
                            <div class="alert success" style="margin-top:10px; margin-bottom: 10px">
                                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                <strong>Success!</strong> @Message.
                            </div>
                        }
                        <button class="btn btn-primary" onclick="toggleDivs()" style="padding:7px; margin-bottom:7px " id="toggleButton">Show Disable Products </button>
                        <div id="div1">
                            <table id="example" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Brand</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var items in ViewBag.ProductList)
                                    {

                                        @if (items.pro_quan == 0)
                                        {
                                            <tr style="background-color: #FFC0CB;">
                                                <td>@items.pro_id</td>
                                                <td>@items.pro_name</td>
                                                <td>
                                                    @{
                                                        int categoryId = items.cate_id;
                                                        var categoryList = ViewBag.CategoryList as List<Category>;
                                                        string categoryName = categoryList?.FirstOrDefault(c => c.cate_id == categoryId)?.cate_name;
                                                    }
                                                    @categoryName
                                                </td>
                                                <td>
                                                    @{
                                                        int brandyId = items.brand_id;
                                                        var brandList = ViewBag.BrandList as List<Brand>;
                                                        string BrandName = brandList?.FirstOrDefault(c => c.brand_id == brandyId)?.brand_name;
                                                    }
                                                    @BrandName

                                                </td>
                                                <td>$@items.pro_price</td>
                                                <td>@items.pro_quan</td>

                                                <td style="color:#5D87FF;">
                                                    <a href="@Url.Action("ProductDetailPage", "Dashboard", new { id = items.pro_id })">
                                                        View Details
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>@items.pro_id</td>
                                                <td>@items.pro_name</td>
                                                <td>
                                                    @{
                                                        int categoryId = items.cate_id;
                                                        var categoryList = ViewBag.CategoryList as List<Category>;
                                                        string categoryName = categoryList?.FirstOrDefault(c => c.cate_id == categoryId)?.cate_name;
                                                    }
                                                    @categoryName
                                                </td>
                                                <td>
                                                    @{
                                                        int brandyId = items.brand_id;
                                                        var brandList = ViewBag.BrandList as List<Brand>;
                                                        string BrandName = brandList?.FirstOrDefault(c => c.brand_id == brandyId)?.brand_name;
                                                    }
                                                    @BrandName

                                                </td>
                                                <td>$@items.pro_price</td>
                                                <td>@items.pro_quan</td>

                                                <td style="color:#5D87FF;">
                                                    <a href="@Url.Action("ProductDetailPage", "Dashboard", new { id = items.pro_id })">
                                                        View Details
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Brand</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th> </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div id="div2" style="display:none">
                            <table id="example4" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Brand</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var items in ViewBag.ProductListDisable)
                                    {

                                        @if (items.pro_quan == 0)
                                        {
                                            <tr style="background-color: #FFC0CB;">
                                                <td>@items.pro_id</td>
                                                <td>@items.pro_name</td>
                                                <td>
                                                    @{
                                                        int categoryId = items.cate_id;
                                                        var categoryList = ViewBag.CategoryList as List<Category>;
                                                        string categoryName = categoryList?.FirstOrDefault(c => c.cate_id == categoryId)?.cate_name;
                                                    }
                                                    @categoryName
                                                </td>
                                                <td>
                                                    @{
                                                        int brandyId = items.brand_id;
                                                        var brandList = ViewBag.BrandList as List<Brand>;
                                                        string BrandName = brandList?.FirstOrDefault(c => c.brand_id == brandyId)?.brand_name;
                                                    }
                                                    @BrandName

                                                </td>
                                                <td>$@items.pro_price</td>
                                                <td>@items.pro_quan</td>

                                                <td style="color:#5D87FF;">
                                                    <a href="@Url.Action("ProductDetailPage", "Dashboard", new { id = items.pro_id })">
                                                        View Details
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>@items.pro_id</td>
                                                <td>@items.pro_name</td>
                                                <td>
                                                    @{
                                                        int categoryId = items.cate_id;
                                                        var categoryList = ViewBag.CategoryList as List<Category>;
                                                        string categoryName = categoryList?.FirstOrDefault(c => c.cate_id == categoryId)?.cate_name;
                                                    }
                                                    @categoryName
                                                </td>
                                                <td>
                                                    @{
                                                        int brandyId = items.brand_id;
                                                        var brandList = ViewBag.BrandList as List<Brand>;
                                                        string BrandName = brandList?.FirstOrDefault(c => c.brand_id == brandyId)?.brand_name;
                                                    }
                                                    @BrandName

                                                </td>
                                                <td>$@items.pro_price</td>
                                                <td>@items.pro_quan</td>

                                                <td style="color:#5D87FF;">
                                                    <a href="@Url.Action("ProductDetailPage", "Dashboard", new { id = items.pro_id })">
                                                        View Details
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!--Beginning Of Categories Pop-up-->
                        <div id="contactForm3" class="col-3" style="height:650px;">
                            <div class="col-12" style="text-align: center; padding: 10px;">
                                <h1 class="Title">CATEGORIES</h1>
                                @if (manager.isAdmin == true)
                                {
                                    <button type="button" id="contactAddCategory" class="btn btn-outline-primary m-1">
                                        <i class="fa-solid fa-plus"></i>
                                        Add
                                    </button>
                                }
                               
                            </div>
                            <div style="overflow:scroll; height: 70%">
                            <table id="example2" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                    <tbody style=" max-height: 200px; overflow:scroll;">
                                    @foreach (var items in ViewBag.CategoryList)
                                    {
                                        <tr>
                                            <td>@items.cate_id</td>
                                            <td>@items.cate_name</td>
                                            <td>
                                                    @if (manager.isAdmin == true)
                                                    {
                                                        <!--Edit-->
                                                        <i class="fa-solid fa-pen" style="color: rgb(255, 200, 0)" type="button" data-CatEdit="@items.cate_id" onclick="EditCat(this)"
                                                           id="contactCategoryEdit"></i>

                                                        <!--Delete-->
                                                        <a onclick="return confirm('You are about to delete this category and can not be undo');" href="/Dashboard/DisableCategory/@items.cate_id" style="text-decoration: none;"><i class="fa-solid fa-trash" style="color: red;"></i></a>
                                                    }
                                                </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            </div>
                            <!--Add Category-->
                            <div id="contactFormAddCategory" class="col-8">
                                <form method="POST" action="/Dashboard/AddCategory" id="" class="" enctype="multipart/form-data">
                                    <!--Add Action Here for Cleny-->
                                    <div class="row">
                                        <div class="col-md-612">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="cate_name" id="Cat_Name"
                                                       placeholder="Insert Category Name">
                                                <input type="text" class="form-control" name="keyword" id="keyword"
                                                       placeholder="Insert Product Keyword">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" style="text-align: center; padding-top: 20px;">
                                            <input type="submit" value="Submit" class="btn btn-primary">
                                            <input type="reset" value="Reset" class="btn btn-secondary">
                                            <div class="submitting"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--Add Category-->
                            <!--Edit Category-->
                            <div id="contactFormEditCategory" class="col-8">
                                <form method="POST" action="/Dashboard/UpdateCategory" class="UpdateCategory">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="Cat_Name_edit" name="cate_name">
                                                <input type="hidden" class="form-control" id="Cat_ID_edit" name="cate_id">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" style="text-align: center; padding-top: 20px;">
                                            <input type="submit" value="Submit" class="btn btn-primary">
                                            <input type="reset" value="Reset" class="btn btn-secondary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--Edit Category-->
                        </div>

                        <!--End Of Categories Pop-up-->
                        <!--Beginning Of Brand Pop-up-->

                        <div id="contactForm2" class="col-3">
                            <div class="col-12" style="text-align: center; padding: 10px;">
                                <h1 class="Title">BRANDS</h1>
                                @if (manager.isAdmin == true)
                                {
                                    <button type="button" class="btn btn-outline-primary m-1" id="contactAddBrand">
                                        <i class="fa-solid fa-plus"></i>
                                        Add
                                    </button>
                                }
                               
                            </div>
                            <div style="overflow:scroll; height: 70%">
                                <table id="example3" class="table table-striped" style="width:100%; overflow-y:scroll;">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var items in ViewBag.BrandList)
                                        {
                                            <tr>
                                                <td>@items.brand_id</td>
                                                <td>@items.brand_name</td>
                                                <td>
                                                    @if (manager.isAdmin == true)
                                                    {
                                                        <!--Edit-->
                                                        <i class="fa-solid fa-pen" style="color: rgb(255, 200, 0)" type="button" data-brandedit="@items.brand_id" onclick="EditBrand(this)"
                                                           id="contactBrandEdit"></i>


                                                        <!--Delete-->
                                                        <a onclick="return confirm('You are about to delete this brand and can not be undo');" href="/Dashboard/DisableBrand/@items.brand_id"><i class="fa-solid fa-trash" style="color: red;"></i></a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <!--Add Brand-->
                            <div id="contactFormAddBrand" class="col-8" >
                                <form method="POST" action="/Dashboard/AddBrand" id="" class="" enctype="multipart/form-data">
                                    <!--Add Action Here for Cleny-->
                                    <div class="row">
                                        <div class="col-md-12" style="padding-bottom: 20px;">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="Brand_Name" id="Brand_Name"
                                                       placeholder="Insert Brand Name">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group" style="text-align: center; padding: 5px;">
                                                <h3 style="color: #5D87FF;">Brand Logo</h3>
                                                <input type="file" class="form-control" name="Brand_Logo" id="Brand_Logo"
                                                       placeholder="Insert Brand Logo">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" style="text-align: center; padding-top: 20px;">
                                            <input type="submit" value="Submit" class="btn btn-primary">
                                            <input type="reset" value="Reset" class="btn btn-secondary">
                                            <div class="submitting"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--Add Brand-->
                            <!--Edit Brand-->
                            <div id="contactFormBrandEdit" class="col-8">
                                <form method="POST" action="/Dashboard/UpdateBrand" class="UpdateBrand" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-12" style="padding-bottom: 20px;">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="Brand_Name" id="Brand_Name_edit">
                                                <input type="hidden" class="form-control" name="Brand_ID" id="Brand_ID_edit">
                                            </div>
                                        </div>


                                        <div class="col-md-12">
                                            <h3 style="color: #5D87FF; text-align: center;">Brand Logo</h3>
                                            <div style="display: flex;
                                            justify-content: center;
                                            align-items: center;">
                                                <img src="" alt="Smiley face" class="imgStyle"
                                                     width="100" height="100" title="Original Image" id="brand_img_edit" />
                                                <input type="hidden" value="" id="Brand_Image_tmp" />
                                            </div>

                                            <div>
                                                <input class="form-control" type="file" name="BrandLogo">
                                                <label style="color: red;">
                                                    Input a new file to change
                                                    the image
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" style="text-align: center; padding-top: 20px;">
                                            <input type="submit" value="Submit" class="btn btn-primary">
                                            <input type="reset" value="Reset" class="btn btn-secondary">
                                            <div class="submitting"></div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <!--Edit Brand-->
                        </div>

                        <!--End Of Brand Pop-up-->
                        <!--Add Product-->
                        <div id="contactFormAddProduct" class="col-8">
                            <div class="col-12" style="text-align: center; padding: 10px;">
                                <h1 class="Title">ADD PRODUCT</h1>
                            </div>
                            <form method="POST" action="/Dashboard/AddProduct" id="AddForm" class="AddForm addProduct"
                                  enctype="multipart/form-data">
                                <div class="row">

                                    <!--Product ID -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" for="name">Product ID</label>
                                            <input type="text" class="form-control" name="pro_id" id="pro_id" placeholder="ID" readonly value="">
                                        </div>
                                    </div>
                                    <!--Product ID -->
                                    <!--Product Name -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" for="pro_name">Product Name</label>
                                            <input type="text" class="form-control" name="pro_name" id="pro_name"
                                                   placeholder="Product Name">
                                            <p style="color:red"></p>
                                        </div>
                                    </div>
                                    <!--Product Name -->
                                    <!--Price -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="pro_price">Price</label>
                                            <input type="text" class="form-control" name="pro_price" id="pro_price" placeholder="Price">
                                            <p style="color:red"></p>
                                        </div>
                                    </div>
                                    <!--Price -->
                                    <!--Categories -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" for="category">Category</label>

                                            <select name="cate_id" class="form-control" id="cate_id">
                                                @{
                                                    int value_cate = 1; // Start value

                                                    // Assuming 'items' is a List<Brand> containing your brand information
                                                    foreach (var item in ViewBag.CategoryList)
                                                    {
                                                        <option value="@value_cate">@item.cate_name</option>
                                                        value_cate++; // Increment the value
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <!--Categories -->
                                    <!--Brands -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" for="brand">Brand</label>

                                            <select name="brand_id" class="form-control" id="brand_id">
                                                @{
                                                    int value_brand = 1; // Start value

                                                    // Assuming 'items' is a List<Brand> containing your brand information
                                                    foreach (var item in ViewBag.BrandList)
                                                    {
                                                        <option value="@value_brand">@item.brand_name</option>
                                                        value_brand++; // Increment the value
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <!--Brands -->
                                    <!--Add Images -->
                                    <div class="col-md-6 ">
                                        <div id="room_fileds_image">
                                            <div class="content">
                                            </div>
                                        </div>
                                        <br>
                                        <input class="btn btn-outline-primary m-1" type="button" id="more_fields"
                                               onclick="add_fieldsImage();" value="Add new Image" />
                                    </div>
                                    <div class="col-md-6 ">
                                        <!--Add Images -->
                                        <!--Add Attribute-->
                                        <div id="room_fileds">
                                            <div class="content">
                                            </div>
                                        </div>
                                        <br>
                                        <input class="btn btn-outline-primary m-1" type="button" id="more_fields" name="AttributeButton"
                                               onclick="add_fieldsDetails();" value="Add new Details" />
                                    </div>
                                    <!--Add Attribute-->
                                    <!--Description -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="#">Description</label>
                                            <textarea name="pro_des" class="form-control" id="pro_des" cols="30" rows="10"
                                                      placeholder="Description"></textarea>
                                            <p style="color:red"></p>
                                        </div>
                                    </div>
                                    <!--Description -->

                                    <div class="col-md-12">
                                        <div class="form-group" style="text-align: center; padding-top: 20px;">
                                            <input type="submit" value="Submit" class="btn btn-primary">
                                            <input type="reset" value="Reset" class="btn btn-secondary">
                                            <div class="submitting"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--Add Product -->


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var room = 0;
    function add_fieldsDetails() {
        room++;
        var objTo = document.getElementById('room_fileds')
        var divtest = document.createElement("div");
        divtest.innerHTML = ' <label>Attribute ' + room + '</label> <input class="form-control feature" type="text" name="feature" value="" />' + '<p style="color:red"></p>' + ' <label>Attribute Description</label> <input class="form-control description" type="text" name="description" value="" />' + '<p style="color:red"></p>';

        objTo.appendChild(divtest)
    }
</script>
<script>

    var room_image = 0;
    var img = 1;
    function add_fieldsImage() {
        room_image++;
        img++;
        var objTo = document.getElementById('room_fileds_image')
        var divtest = document.createElement("div");
        divtest.innerHTML = ' <label>Image ' + room_image + '</label> <input class="form-control imgFile" type="file" name="imgFile"> ' + '<p style="color:red"></p>';

        objTo.appendChild(divtest)
    }
</script>
<script>
    function toggleDivs() {
        var div1 = document.getElementById("div1");
        var div2 = document.getElementById("div2");
        var toggleButton = document.getElementById("toggleButton");

        if (div1.style.display === "block" || div1.style.display === "") {
            div1.style.display = "none";
            div2.style.display = "block";
            toggleButton.innerHTML = 'Show Normal Product';
        } else {
            div1.style.display = "block";
            div2.style.display = "none";
            toggleButton.innerHTML = 'Show Disable Product';
        }
    }
</script>
<script>
    new DataTable('#example', {
        initComplete: function () {
            this.api()
                .columns()
                .every(function (index) {
                    let column = this;

                    // Check if this is column 2 or 3
                    if (index === 2 || index === 3) {
                        // Create select element
                        let select = document.createElement('select');

                        // Add the "All" option
                        select.add(new Option('All', ''));

                        // Replace the footer with the select element
                        column.footer().replaceChildren(select);

                        // Apply a listener for user changes in value
                        select.addEventListener('change', function () {
                            var val = DataTable.util.escapeRegex(select.value);

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                        // Add the list of options
                        column
                            .data()
                            .unique()
                            .sort()
                            .each(function (d, j) {
                                select.add(new Option(d));
                            });
                    }
                });
        }
    });


    </script>
<script src="~/assets/js/productpage.js"></script>
<script src="~/assets/js/jsaddproduct.js"></script>