@using System.Globalization;

@{
    ViewData["Title"] = "Statistic";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
    DateTime currentDate = DateTime.Now;

    // Get the current month as an integer (1 for January, 2 for February, and so on)
    int currentMonth = currentDate.Month;
    string monthName = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(currentMonth);
    int counter = 1;
}

<div class="body-wrapper">
    <div class="container">
        <h1 class="Header">STATISTICS</h1>
        <div class="tabs">
            <div class="tabby-tab">
                <input type="radio" id="tab-1" name="tabby-tabs" checked>
                <label for="tab-1" class="tabby-tablabel">PRODUCTS</label>
                <div class="tabby-content">
                    <h1 class="Title">Product sale in @monthName</h1>
                    <!--Danh sách sản phẩm sort theo số lượng bán-->
                    <table id="example" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Amount Sold</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var items in ViewBag.ProductSaleInMonth)
                            {
                                <tr>
                                    <td>@items.pro_id</td>
                                    <td>@items.pro_name</td>
                                    <td>@items.Quantity</td>
                                </tr>
                            }
                    </table>
                </div>
            </div>

            <div class="tabby-tab">
                <input type="radio" id="tab-2" name="tabby-tabs">
                <label for="tab-2" class="tabby-tablabel">CUSTOMERS</label>
                <div class="tabby-content">
                    <h1 class="Title">Customer Purchases in @monthName</h1>
                    <!--Danh sách account sort theo số tiền sử dụng-->
                    <table id="example2" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Total Money Spent</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cus in ViewBag.Top10Customer)
                            {
                                <tr>
                                    <td>@counter</td>
                                    <td>@cus.Item1</td>
                                    <td>$@cus.Item2</td>
                                </tr>
                                counter++;
                            }
                    </table>
                </div>
            </div>

            <div class="tabby-tab">
                <input type="radio" id="tab-3" name="tabby-tabs">
                <label for="tab-3" class="tabby-tablabel">REVENUE</label>
                <div class="tabby-content">
                    <h1 class="Title" style="padding-bottom: 20px;">TOTAL REVENUE</h1>
                    <!--Thống kê doanh thu và có bảng-->
                    <table class="col-3 centerTable">
                        <tr class="DoanhThu">
                            <td>
                                <h2>Total InCome: </h2>
                            </td>
                            <td>
                                <h2>$@ViewBag.TotalIncome </h2>
                            </td>
                        </tr>
                        <tr class="ChiTieu">
                            <td>
                                <h2>Total Payment: </h2>
                            </td>
                            <td>
                                <h2>$@ViewBag.TotalPayment </h2>
                        </tr>
                        <tr class="LoiNhuan">
                            <td>
                                <h2>Revenue: </h2>
                            </td>
                            <td>
                                <h2>$@ViewBag.Revenue </h2>
                            </td>
                        </tr>
                    </table>

                    <div class="row">
                        <h1 class="Title" style="padding-bottom: 20px;">REVENUE IN YEAR</h1>
                        <div class="col-8" style="padding: 30px;">
                            <!--Cleny edit trong đây-->

                            <div>
                                <button id="btn_change" class="btn btn-outline-primary m-1">Change to Piller</button>
                                <button id="btn_change2" class="btn btn-outline-primary m-1">Change to Chart</button>
                            </div>

                            <div id="chart" class="d-none"></div>
                            @{

                                string price = "";
                                string payment = "";
                                string revenue = "";


                                foreach (var item in ViewBag.listIncomeMonth)
                                {
                                    price +=  item.Item2 + ",";
                                }

                                foreach (var item in ViewBag.listPayemt)
                                {
                                    payment += item.Item2 + ",";
                                }

                                foreach (var item in ViewBag.listRevenue)
                                {
                                    revenue += item.Item2 + ",";
                                }

                                                // Remove the trailing comma
                                price = price.TrimEnd(',');
                                payment = payment.TrimEnd(',');
                                revenue = revenue.TrimEnd(',');
                            }
                            <input type="hidden" id="chart_area_data" data-Toalprice="@price" data-totalPayment="@payment" data-totalRevenue="@revenue" data-categoriescombide="" />

                            <div id="chart_area" class=""></div>
                            <!--Cleny edit trong đây-->
                        </div>
                        <div class="col-4" style="padding: 30px; display: flex; justify-content: center; align-items: center;">
                            @{
                                string categoryNames = "";
                                string quan = "";
                                foreach (var item in ViewBag.listPie)
                                {
                                    categoryNames += item.Item1 + ",";
                                    quan += item.Item2 + ",";
                                }
                                // Remove the trailing comma
                                categoryNames = categoryNames.TrimEnd(',');
                                quan = quan.TrimEnd(',');
                            }
                            <input type="hidden" id="categoryName_sta" data-cateName="@categoryNames" data-quantity="@quan"/>
                            <div id="PieChart">
                                <!-- Content inside the div -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!--  Row 1 -->
    </div>
</div>
<script src="../assets/libs/simplebar/dist/simplebar.js"></script>
<script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../assets/libs/simplebar/dist/simplebar.js"></script>
<script src="../assets/js/dashboard.js"></script>

