@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Checkout</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Checkout Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3">
                <span class="bg-secondary pr-3">
                    Billing
                    Address
                </span>
            </h5>
            <div class="bg-light p-30 mb-5">
                <button style="margin-left: 690px; border: none;" onclick="openFormAddress()">Use another address</button>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Full name</label>
                        <input type="hidden" value="@ViewBag.Addresses[0].fullname" name="fullname" id="ChosenFNA">
                        <p class="form-control">@ViewBag.Addresses[0].fullname</p>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Address</label>
                        <input type="hidden" value="@ViewBag.Addresses[0].address" name="address" id="ChosenADA" />
                        <p class="form-control">@ViewBag.Addresses[0].address</p>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Phone number</label>
                        <input type="hidden" value="@ViewBag.Addresses[0].phonenum" name="phonenum" id="ChosenPNA" />
                        <p class="form-control">@ViewBag.Addresses[0].phonenum</p>
                    </div>
                    <br />
                    <div class="col-md-12">
                        <label>Note</label>
                        <textarea cols="100" rows="4" id="description"></textarea>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3">
                <span class="bg-secondary pr-3">
                    Order
                    Total
                </span>
            </h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <h6 class="mb-3">Products</h6>
                    @{
                        double amount = 0;
                    }
                    @foreach (var item in ViewBag.ListCart)
                    {
                        <div class="d-flex justify-content-between">
                            @{
                                var totalPriceOfOneProduct = item.price * item.quantity;
                                amount += totalPriceOfOneProduct;
                            }
                            <p><span>@item.quantity x </span>@item.pro_name</p>
                            <p>$@totalPriceOfOneProduct</p>
                        </div>
                    }
                </div>
                <div class="border-bottom pt-3 pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Total price</h6>
                        <h6>$@amount</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">$10</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        @{
                            var bill = amount + 10;
                        }
                        <h5>$@bill</h5>
                        <input type="hidden" value="@bill" id="bill" />
                    </div>
                </div>                
                <div class="bg-light p-30">
                    <input type="submit" class="btn btn-block btn-primary font-weight-bold py-3" onclick="PlaceOrder()" value="Place Order" style="color:black; ">
                </div>
                
            </div>
        </div>
    </div>
    <!-- Checkout End -->
    <!--View Details Start-->
    <div class="user">
        <section class="h-100" id="chosingAddressForm">
            <div class="card-address">
                <div class="row">
                    <h2 class="title" style="font-size: 200%; ">Choosing Address</h2>
                </div>

                <div class="pricing">
                    <div class="scroll-address">
                        @{
                            var index = 1;
                        }
                        @foreach (var item in ViewBag.Addresses)
                        {
                            <div class="address-container">
                                <input type="radio" class="radio-input" name="radio_add" id="@item.ID" data-AFN="@item.fullname" data-APN="@item.phonenum" data-AA="@item.address">
                                <label class="address-label" for="address1">Address @index: </label><br>
                                <span>Full name: @item.fullname</span><br>
                                <span>Phone number: @item.phonenum</span><br>
                                <span>Address: @item.address</span>
                            </div>
                            index++;
                        }
                    </div>
                </div>
                <hr>
                <div class="info" style="text-align: center;">
                    <div class="flex-container">
                        <button class="button-5" style="margin-right: 10px; " role="button" onclick="ChangeAddress()">Submit</button>
                        <button class="button-5" onclick="closeFormAddress()" style="margin-left: 10px; background-color: transparent; border-color: #fa6400; color: #fa6400;" role="button">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script>
        function openFormAddress() {
            document.getElementById("chosingAddressForm").style.display = "block";
        }

        function closeFormAddress() {
            document.getElementById("chosingAddressForm").style.display = "none";
        }


    </script>


    <!--View Details End-->
    <script src="~/js/checkout.js"></script>
